* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #33ACFF;
}

div.tituloDiv {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.tituloH1 {
    color: black;
    font-size: 50px;
}

div.tematicaDiv{
    background-color: orangered;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

span.separacio{
    height: 60px;
    width: 120px;
}

div.cuerpoDiv {
    background-color: red;
    display: flex;
}

.imgsDiv,
.palabraDiv,
.imgFinalDiv,
.textFinalDiv {
    background-color: green;
    height: 525px;
    width: calc(100%/4);
    margin: 1%;
}

div.imgsDiv {
    border: solid 5px black;
}

div.row1,
div.row2,
div.row3 {
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
}

img.img {
    height: 175px;
    width: 250px;
}

div.erroresDiv,div.palabra {
    height: calc(100%/2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}